<!-- 지도자 식별코드 모달창 -->
<div class="modal fade" id="LeaderNoModal" tabindex="-1" aria-labelledby="LeaderNoModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content modal-custom">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="LeaderNoModalLabel">지도자 식별코드검색</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="test">
                    <label for="LeaderModalLabel">성명</label>
                    <input type="text" id="LeaderModalInput" placeholder="이름을 입력하세요">
                    <button class="search_btn" onclick="searchLeaderList()">검색하기</button>
                </div>
                <hr />
                <label id="countLeaders"></label>
                <div id="table-container">
                    <table class="t">
                        <thead>
                            <tr>
                                <th>식별코드</th>
                                <th>성명</th>
                            </tr>
                        </thead>
                        <tbody id="LeaderTableBody">
                        </tbody>
                    </table>
                </div>
                <div class="buttons">
                    <button type="button" class="cancel_btn" data-bs-dismiss="modal">취소하기</button>
                    <button type="button" class="add_btn" onclick="noSelectedLeader()">등록하기</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 학교명 모달창 -->
<div class="modal fade" id="SchoolNameModal" tabindex="-1" aria-labelledby="SchoolNameModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-custom">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">학교 식별코드검색</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="LeaderModalLabel">학교명</label>
                <input type="text" id="SchoolModalInput" placeholder="학교명을 입력하세요">
                <button class="search_btn" onclick="searchSchoolList()">검색하기</button>
                <hr />
                <div id="table-container">
                    <label id="countSchools"></label>
                    <table class="t">
                        <thead>
                            <tr>
                                <th>학교코드</th>
                                <th>학교명</th>
                            </tr>
                        </thead>
                        <tbody id="SchoolTableBody">
                        </tbody>
                    </table>
                </div>
                <div class="buttons">
                    <button type="button" class="cancel_btn" data-bs-dismiss="modal">취소하기</button>
                    <button type="button" class="add_btn" onclick="noSelectedSchool()">등록하기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 유효성 검사, 등록, 취소, 삭제 공통 모달 창 -->
<div class="modal fade" id="shortModal" tabindex="-1" aria-labelledby="shortModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 400px; height: 253px;">
        <div class="modal-content">
            <div class="modal-body">
                <h2></h2>
                <p></p>
                <div class="modal-buttons">
                    <input class="btnOk" type="button" value="확인" onclick="closeShortModal()">
                </div>
            </div>
        </div>
    </div>
</div>