@model SportLeader.ViewModels.LeaderViewModel

<h3>지도자 목록</h3>
<table class="table">
    <thead>
        <tr>
            <th>식별코드</th>
            <th>성명</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var leader in Model.Leaders)
        {
            <tr>
                <td>@leader.No</td>
                <td>@leader.Name</td>
            </tr>
        }
    </tbody>
</table>
