@import "./header.css";
@import "./sidebar.css";
@import "./main.css";
@import "./register.css";
@import "./detail.css";
@import "./footer.css";


@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

html, body {
    font-family: Pretendard-Regular;
    font-weight: 400;
    font-size: 14px;
}

#LeaderRegisterTitle {
    margin: 39px 0 57px 60px;
    margin-left: 300px;
    font-weight: 700;
    font-size: 24px;
    color: #212529;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

    .pagination button {
        width: 32px;
        height: 32px;
        margin: 0 5px;
        background-color: transparent;
        cursor: pointer;
        border: none;
    }

        .pagination button[disabled] {
            cursor: not-allowed;
            background-color: #F5F5F5;
            color: #BDBDBD;
        }

        .pagination button.active,
        .pagination button:hover {
            background-color: #0F2D6A;
            color: #FFFFFF;
        }